.radial-gradient {
    margin: 1rem;
    width: 400px;
    height: 200px;
    /*background: radial-gradient(12rem circle at bottom, yellow, orange, red);*/
    background: radial-gradient(closest-side circle at center, #333, blue);
}

.repeating-radial-gradient {
    margin: 1rem;
    width: 400px;
    height: 200px;
    background: repeating-radial-gradient(black 0px, orange 5px, red 10px);
}